@import "../../style/variables.scss";
@import "../../style/mixin.scss";

.detail {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 15px 0 10px;
    @media (min-width: 768px) {
      gap: 0;
      width: 51%;
    }

    &--title {
      margin: 0;
      line-height: $globale-line-height;
      color: $color-description;
      @media (min-width: 768px) {
        font-size: 36px;
      }
    }
    &--location {
      font-size: 14px;
      margin: 0;
      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
  }

  &__tags {
    display: flex;
    gap: 10px;
    height: 18px;
    @media (min-width: 768px) {
      height: 25px;
      max-width: 50%;
    }

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25.07%;
      height: 18px;
      color: $color-title-location;
      font-size: 10px;
      background-color: $background-color-element;
      border-radius: 5px;

      @media (min-width: 768px) {
        font-size: 14px;
        height: 25px;
        border-radius: 10px;
      }
    }
  }

  &__body {
    display: flex;
    gap: 101px;
    @media (min-width: 768px) {
      flex-direction: column-reverse;
      align-items: flex-end;
      gap: 21px;
      position: absolute;
      right: 100px;
    }
  }
  &__rating {
    display: flex;
    height: 18px;
    gap: 2px;
    margin-top: 24px;
    @media (min-width: 768px) {
      margin: 0;
      gap: 4px;
    }

    & img {
      width: 18px;
      height: 18px;
      @media (min-width: 768px) {
        width: 36px;
        height: 36px;
      }
    }
  }
  &__host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10.5px;
    margin-top: 16.12px;
    width: 40.4%;
    @media (min-width: 768px) {
      width: 13.5%;
    }

    &--name {
      font-size: $text-font-size;
      color: $color-description;
      margin: 0;
      height: 33px;
      line-height: $globale-line-height;
      text-align: right;
      @media (min-width: 768px) {
        font-size: $font-size-detail;
      }
    }
    & img {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      @media (min-width: 768px) {
        width: 64px;
        height: 64px;
      }
    }
  }
}
