@import "../../style/variables.scss";
@import "../../style/mixin.scss";

.card {
  margin: 0px 20px 22px;
  cursor: pointer;
  height: 255px;
  position: relative;
  @include position-flex;
  transition: transform 200ms;
  &:hover {
    transform: scale(1.05);
  }
  &::before {
    @include linear-gradient;
  }

  &__image {
    @include position-absolute;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }

  @media (min-width: 768px) {
    margin: 0;
    height: 340px;
  }

  &__title {
    line-height: $globale-line-height;
    color: $color-title-location;
    font-size: 18px;
    height: 52px;
    width: 88.5%;
    z-index: 1;
  }
}
