@import "../../style/mixin.scss";
@import "../../style/variables.scss";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 19.5px 19px;
  @media (min-width: 768px) {
    margin: 0px 100px 38px;
  }
  &__banner {
    height: 111px;
    width: 100%;
    @media (min-width: 768px) {
      max-width: 1240px;
      height: 223px;
    }
    .about__overlay {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &__content {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 768px) {
      margin: 38px 108.5px 0;
      gap: 30px;
    }
  }
}
