@mixin position-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
}

@mixin position-flex {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@mixin drop-down-about {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: $background-color-element;
  border-radius: 5px;
}

@mixin linear-gradient {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #0a0a0a 42%,
    #040404 100%,
    #000000 100%
  );
  z-index: 1;
  opacity: 50%;
}
