$color-black: #000000;
$background-color-black: #000000;
$background-color-element: #ff6060;
$background-color-desktop: #f6f6f6;
$text-font-family: Montserrat;
$text-font-size: 12px;
$globale-line-height: 142.6%;
$color-title-location: #ffffff;
$color-description: #ff6060;
$font-size-errorPage: 18px;
