@import "../../style/mixin.scss";
@import "../../style/variables.scss";

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 113px;
  @media (min-width: 768px) {
    display: flex;
    gap: 139px;
  }

  &__img {
    width: 53%;
    margin-top: 113px;
    @media (min-width: 768px) {
      width: 41.5%;
      margin-top: 139px;
    }
  }
  &__description {
    margin: 0 57.5px 0;
    color: $color-description;
    font-size: 18px;
    text-align: center;
    line-height: $globale-line-height;
    @media (min-width: 768px) {
      font-size: 36px;
      margin: 0 284px;
    }
  }

  &__description br {
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__link {
    cursor: pointer;
    margin-bottom: 113px;
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
    @media (min-width: 768px) {
      margin-bottom: 139px;
      font-size: $font-size-errorPage;
    }
  }
}
