@import "../../style/variables.scss";
@import "../../style/mixin.scss";

.banner {
  margin: 0px 20px 22px;
  height: 111px;
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    margin: 0px 100px 43px;
    height: 223px;
    justify-content: center;
  }

  &__image,
  &__overlay {
    @include position-absolute;
    object-fit: cover;
    border-radius: 10px;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
  &__title {
    margin-left: 16px;
    z-index: 1;
    width: 67%;
    height: 52px;
    color: #ffffff;
    font-size: 24px;
    line-height: 100%;

    @media (min-width: 768px) {
      width: auto;
      font-size: 48px;
      text-align: center;
    }
  }
}
